.Cartao {
    background-color: darkred;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid darkred;
    margin: 10px;
}
.Cartao .Titulo {
    background-color: darkred;
    padding: 7px;
    display: flex;
    justify-content: center;
}

.Cartao .Conteudo {
    background-color: silver;
    color: black;
    padding: 20px;
}



